html {

  font-size: 14px;
}

@media (min-width: 768px) {
  html {

    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.custom-navbar {
    background: linear-gradient(to right, #4b6cb7, #182848);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

   
    .custom-navbar .navbar-brand,
    .custom-navbar .nav-link {
        color: #fff !important;
        font-weight: 600;
        transition: color 0.3s;
    }

       
        .custom-navbar .nav-link:hover {
            color: #ffcc00 !important;
        }

     
        .custom-navbar .nav-link:active {
            color: #ff6600 !important;
        }

.product-title {
    color: #ff5733; 
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
